$white: #FAFDFF;
$independence: #60637A;
$xiketic: #06091B;


$russian-violet: #120F3E;
$midnight-blue: #359BD3;
$french-blue: #1C75BC;
$portland-orange: #F26232;
$big-dip-oruby: #A0213E;

$white-70: rgba($white, .7);
$independence-60: rgba($independence, .6);
$independence-10: rgba($independence, .1);
$midnight-blue-10: rgba($midnight-blue, .1);

// old
$dark-grey: #4A4D51;
$main-blue: #3F8EFC;
$dark-blue: #004385;
$light-blue: #87BFFF;


// mercusuar
$purple : #241E7B;
$gold : #B4450A;