$white: #FAFDFF;
$independence: #60637A;
$xiketic: #06091B;

$white-70: rgba($white, .7);
$independence-60: rgba($independence, .6);
$independence-10: rgba($independence, .1);

$russian-violet: #120F3E;
$midnight-blue: #241E7B;
$french-blue: #1C75BC;
$portland-orange: #F26232;
$big-dip-oruby: #A0213E;

// old
$dark-grey: #4A4D51;
$main-blue: #3F8EFC;
$dark-blue: #004385;
$light-blue: #87BFFF;
