.akademik {
    min-height: calc(100vh - 6rem);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;

    &__title-section {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        >* {
            text-align: center;
        }
    }

    &__opsi {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
    }

    &__card {
        width: calc((100% - 5rem)/5);
        padding: 2.5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: $white;
        border: .5px solid $independence-60;
        border-radius: .75rem;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        >* {
            text-align: center;
        }
    }

    @media screen and (max-width: 1199.9px) {
        &__card {
            width: calc((100% - 2.5rem)/3);
        }
    }

    @media screen and (max-width: 767.9px) {

        &__title-section,
        &__opsi {
            width: calc(100% - 2rem);
        }
    }

    @media screen and (max-width: 575.9px) {
        &__card {
            width: calc(100% - 6rem);
            padding: 1.25rem 3.25rem;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            >img {
                width: 40px;
            }
        }
    }
}
