@import 'env';
@import 'navbar';
@import 'footer';
@import 'form';
@import 'dialog';
@import 'alert';
// @import 'oprec-landing';
// @import 'client-form';
@import 'landing';
@import 'about-us';
@import 'form-page';
@import 'form-show';
@import 'form-responden';
@import 'afterform';
@import 'akademik';
@import 'krisar';
@import 'chsi-landing';
@import 'chsi-add';
@import 'chsi-chatroom';