@import 'resources';

* {
    margin: 0;
    padding: 0;
    transition: all ease .2s;
    box-sizing: border-box;
    color: $xiketic;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    transition: all .2s ease;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba($midnight-blue, .1);
}

::-webkit-scrollbar-corner {
    background-color: $independence-10;
}

::-webkit-scrollbar-thumb {
    background-color: $midnight-blue;
}

span {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.h1,
h1 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: -0.03rem;
}

.h2,
h2 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.875rem;
    letter-spacing: -0.03rem;
}

.h3,
h3 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.03rem;
}

.h4,
h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -0.03rem;
}

.h5,
h5 {
    font-style: normal;
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.375rem;
    letter-spacing: -0.03rem;
}

.h6,
h6 {
    font-style: normal;
    font-weight: 300;
    font-size: .75rem;
    line-height: 1.125rem;
    letter-spacing: -0.03em;
}

.p,
p,
.a,
a {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.03rem;
}

.a,
a {
    font-weight: 600;
    text-decoration: none;
    color: $french-blue;

    &:hover {
        color: $midnight-blue;
        text-decoration: underline;
    }

    &.underline-link {
        text-decoration: underline;
    }
}

.button,
button {
    outline: none;
    border: none;
    cursor: pointer;

    padding: .5rem 1.25rem;
    border-radius: 6px;
    color: $russian-violet;
    background-color: $white;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;

    &:hover {
        color: $russian-violet;
        background-color: $independence-10;
        text-decoration: none;
    }

    &:focus,
    &:focus-within,
    &:hover {
        outline: none;
        border: none;
        cursor: pointer;
    }

    &.btn-primary {
        color: $white;
        background-color: $midnight-blue;

        &:hover {
            color: $white;
            background-color: $french-blue;
        }
    }

    &.btn-secondary {
        color: $french-blue;
        background-color: $white;
        border: 1.5px solid $french-blue;

        &:hover {
            color: $midnight-blue;
            border-color: $midnight-blue;
        }
    }

    &.btn-danger {
        color: $big-dip-oruby;
        background-color: $white;
        border: 1.5px solid $big-dip-oruby;

        &:hover {
            color: $white;
            background-color: $big-dip-oruby;
        }
    }
}

textarea {
    resize: none;
}

table {
    border: 0.5px solid $independence-60;
    border-radius: .75rem;
    border-spacing: 0;
}

thead {
    background-color: $independence-10;
}

th {
    padding: .5rem 1rem;
    font-weight: 500;
    text-align: start;
    color: $independence;
}

tr:last-child {
    td {
        border: none;
    }
}

td {
    padding: .5rem 1rem;
    color: $independence;
    border-bottom: .3px solid $independence-60;
}

.midnight-blue {
    color: $midnight-blue;
}

.red {
    color: $big-dip-oruby;
}

.grey {
    color: $independence;
}

.hidden {
    display: none !important;
}

.container {
    width: 100%;
    padding: 0 1rem;
    margin: 6rem auto 0 auto;
    position: relative;

    @media screen and (min-width: 576px) {
        width: 540px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 .75rem;
        width: 720px;
    }

    @media screen and (min-width: 992px) {
        width: 960px;
    }

    @media screen and (min-width: 1200px) {
        width: 1140px;
    }

    @media screen and (min-width: 1400px) {
        width: 1320px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}
