.form-responden {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__form {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 1.5rem;
    }

    &__title-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: .25rem;

        >* {
            text-align: center;
        }
    }

    &__input-form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 1.25rem;

        >.btn-primary {
            align-self: flex-end;
        }
    }
}
