.krisar {
    min-height: calc(100vh - 6rem);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;

    &__title-section {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        >* {
            text-align: center;
        }
    }

    &__opsi {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 1.5rem 1.25rem;
    }

    &__card {
        width: calc((100% - 3.75rem)/4);
        padding: 2.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: $white;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        >* {
            text-align: center;
        }
    }

    &__dialog {
        width: calc(100% - 2rem);
        max-width: 750px;
        padding: 4rem 3rem;
        align-items: flex-start;
        justify-content: center;
        gap: 3rem;
    }

    &__dialog-left,
    &__dialog-right {
        width: calc((100% - 3rem)/2);
    }

    &__dialog-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: .5rem;
    }

    &__dialog-title-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .5rem;
    }

    &__dialog-right {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: .5rem;

        >.dialog__btns {
            margin-top: 1rem;
        }
    }

    @media screen and (max-width: 767.9px) {

        &__title-section,
        &__opsi {
            width: calc(100% - 2rem);
        }

        &__card {
            width: calc((100% - 1.25rem)/2);
        }

        &__dialog {
            flex-direction: column;
            gap: 1.5rem;
        }

        &__dialog-left,
        &__dialog-right {
            width: 100%;
        }
    }

    @media screen and (max-width: 575.9px) {
        &__card {
            >img {
                width: 40px;
            }
        }
    }
}
