.content {
    flex-direction: column;
    align-items: center;
}

.box-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    max-width: 60%;
    width: fit-content;
    background-color: var(--polar);
    color: var(--daintree);
    padding: 32px;
    border-radius: 8px;
    border: 1px solid #8ECAE6;
    box-shadow: 8px 8px 0px #8ECAE6;
}

.box-message::before {
    content: "\"";
    font-style: italic;
    position: absolute;
    top: -100px;
    left: -5px;
    transform: rotate(180deg);
    font-weight: bold;
    font-size: 96px;
    line-height: 144px;
    color: #FFB703;
    text-shadow: -3px -3px 0px #002748;
}

.box-message::after {
    content: "\"";
    font-style: italic;
    position: absolute;
    bottom: -100px;
    right: -5px;
    font-weight: bold;
    font-size: 96px;
    line-height: 144px;
    color: #FFB703;
    text-shadow: 3px 3px 0px #002748;
}

.box-message .signature {
    margin-top: 7px;
}

@media screen and (max-width: 800px) {
    .box-message {
        max-width: 80%;
        width: fit-content;
    }
    
}