.inner-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2, .h2 {
    padding: 0 !important;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.orange {
    color: var(--flush-orange);
}

.box-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: var(--polar);
}

.box-label {
    color: var(--daintree);
    font-weight: 600;
}

.form-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    padding: 3px 8px;
}

.form-group:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.form-group input[type='checkbox'] {
    height: 25px;
    width: 25px;
}

.form-group input[type='checkbox']:checked {
    background-color: var(--green-vougue);
}

textarea {
    height: 100px;
    padding: 15px;
}

.box-content .btn-primary {
    margin-top: 10px;
    align-self: flex-end;
}

.content img {
    width: 100%;
    justify-self: center;
}

.cek-curhatan {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cek-curhatan span {
    min-width: fit-content;
}

.cek-curhatan input {
    width: 100%;
}

.main-content hr {
    display: flex;
    height: 3px;
    border-radius: 4px;
    background-color: var(--green-vougue);
}

.main-content .hr-break {
    position: relative;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.main-content .hr-break span {
    background-color: var(--base);
    width: fit-content;
    padding: 5px;
    align-self: center;
    position: absolute;
    top: -500%;
    color: var(--daintree);
}

@media screen and (max-width:1100px) {
    .inner-content {
        grid-template-columns: 1.5fr 1fr;
    }
}

@media screen and (max-width:800px) {
    .inner-content {
        grid-template-columns: 1fr;
    }

    #cari-curhat {
        width: 100%;
    }

    #cari-curhat::after {
        content: "Cari";
    }

    img#sini-curhat {
        width: 50%;
    }

    .cek-curhatan {
        flex-direction: column;
    }

    .cek-curhatan input {
        text-align: center;
    }
}