.detail-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid var(--green-vougue);
}



.detail-form#short-link {
    align-items: center;
}

.detail-form#excel {
    justify-content: center;
    background-color: #219653;
    gap: 15px;
    color: var(--polar);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.detail-form#excel:hover {
    background-color: #106937;
}

.detail-form#excel img {
    width: 35px;
}

.detail-form#excel img#ico-download {
    width: 15px;
    align-self: center;
}

.detail-form#delete {
    background-color: #fb2100b7;
    justify-content: center;
    color: var(--polar);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.detail-form#delete:hover {
    background-color: #fb2100;
}

.detail-form .info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.detail-form .btn-edit {
    padding: 10px 20px;
    background-color: var(--green-vougue);
    color: var(--polar);
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 5px;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.detail-form .btn-edit img {
    width: 15px;
}

.detail-form .btn-edit:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(90deg, #219EBC 0%, #002748 100%);


    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.detail-form .btn-edit:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 5px;
}

.divider-cover {
    display: flex;
    justify-content: center;
}

hr.divider {
    margin: 20px 0;
    width: 500px;
    max-width: 70%;
    height: 3px;
    background-color: #3a525f3d;
}

.opsi {
    display: flex;
    gap: 15px;
}

.opsi span {
    padding-bottom: 5px;
    cursor: pointer;
}

.opsi span.active {
    font-weight: 600;
    border-bottom: 3px solid var(--daintree);
}

.list-pertanyaan.hide,
.table-jawaban.hide {
    display: none;
}

.list-pertanyaan,
.table-jawaban {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-pertanyaan .button-group,
.table-jawaban .button-group {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.list-pertanyaan .button-group button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px dashed transparent;
    box-sizing: border-box;
}

.list-pertanyaan .button-group button:hover {
    background-color: var(--base) !important;
    border: 1px dashed var(--daintree);
    color: var(--daintree) !important;
}

.list-pertanyaan .button-group button.btn-blue {
    background-color: var(--green-vougue);
    color: var(--polar);
}

.list-pertanyaan .button-group button.btn-red {
    background-color: var(--danger);
    color: var(--polar);
}

.list-pertanyaan .button-group button.btn-green {
    background-color: var(--success);
}

.list-pertanyaan table {
    border-collapse: collapse;
}

thead {
    background-color: var(--green-vougue);
    color: var(--polar)
}

td,
th {
    border: 1px solid #0000007d;
    padding: 10px;
    font-family: Montserrat;
}

tbody tr {
    background-color: #F2F2F2;

}

tbody tr td {}

tbody tr:nth-child(odd) {
    background-color: #E0E0E0;
}

td a {
    text-decoration: underline;
}

td a.edit {
    color: var(--success);
}

td a.delete {
    margin-left: 15px;
    color: var(--danger);
}

.mobile-message {
    display: none;
}

.jawaban-row {
    padding: 20px;
    border-radius: 7px;
    border: 1px solid var(--green-vougue);

    display: flex;
    flex-direction: column;
    gap: 3px;
}

@media screen and (min-width: 1430px) {

    .detail-form,
    .divider-cover,
    .list-pertanyaan,
    .jawaban-row,
    .pagination,
    .alert {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .detail-form {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .detail-form#excel {
        flex-direction: row;
    }

    .content {
        padding: 20px 10px;
    }

    .opsi,
    .list-pertanyaan,
    .table-jawaban {
        display: none;
    }

    .mobile-message {
        display: inline-block;
        align-self: center;
        text-align: center;
    }
}