.head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.head .text {
  max-width: 50%;
}

h1 {
  color: var(--daintree);
}

.head .text h1 #orange {
  color: var(--flush-orange);
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.list .list-item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.list .list-item .thumb-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list .list-item .thumb-item .outline {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: var(--base);

  transition: all ease .3s;
}

.list .list-item .thumb-item .outline:hover {
  border: 4px solid var(--danger);
  cursor: pointer;
}

.list .list-item .thumb-item .outline img {
  position: absolute;
  border-radius: 25px;
  width: 180px;
  height: 180px;
  filter: brightness(0.4);
  z-index: -1;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  backdrop-filter: blur(5px);
  transform: translateX(100%);
}

.modal .close-overlay {
  position: absolute;
  z-index: -1;
  background-color: rgba(255, 0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal .modal-content {
  position: relative;
  height: 100%;
  width: 40%;
  background-color: var(--polar);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 5px;
  transition: all ease 2s;
  transform: translateX(200%);
  border: 3px solid var(--green-vougue);
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}

.modal .modal-content::-webkit-scrollbar-thumb {
  background: black;
}

.modal .modal-content::-webkit-scrollbar {
  width: 5px;
}

.modal.active {
  transform: translateX(0px);
  opacity: 1;
}

.modal.active .modal-content {
  transform: translateX(0);
}

.modal .modal-content .staf {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  gap: 25px;
}

.modal .modal-content .staf img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--daintree);
}

.modal-content .staf .staf-text {
  display: flex;
  flex-direction: column;
}

.staf-text .name {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  color: var(--daintree);
}

.staf-text .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: var(--daintree);
}

.modal-content .staf .angk {
  position: absolute;
  right: 0;
}

.modal-content button.btn.btn-primary {
  padding: 15px;
  align-self: flex-end;
  position: sticky;
  bottom: 0;
  right: 0;
  box-shadow: 0px 6px 30px rgb(0 0 0 / 25%);
}

textarea {
  padding: 15px;
  height: 50vh;
  width: 100%;
}

.modal-content.kritik-content {
  gap: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 0;
}

.modal-content.kritik-content h1 {
  padding-top: 15px;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: var(--polar);
}

.kritik {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--daintree);
  border: 1px solid var(--eastern-blue);
  border-radius: 25px;
  transition: all ease .3s;
}

.kritik:hover {
  box-shadow: 0 0 10px var(--daintree);
  cursor: pointer;
}

.kritik .info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.kritik .info .more,
.kritik .info .date {
  color: var(--eastern-blue);
}

#kritik-saran .modal-content {
  height: fit-content;
  max-height: 100%;
}


@media screen and (max-width: 1100px) {
  .modal {
    justify-content: center;
  }

  .modal .modal-content {
    width: 60%;
  }
}