* {
  margin: 0;
  padding: 0;
  transition: all ease 0.2s;
  box-sizing: border-box;
  color: #06091B;
  font-family: "Poppins";
  scroll-behavior: smooth;
  transition: all 0.2s ease;
}

span {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.h1,
h1 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: -0.03rem;
}

.h2,
h2 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.875rem;
  letter-spacing: -0.03rem;
}

.h3,
h3 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.03rem;
}

.h4,
h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.03rem;
}

.h5,
h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: -0.03rem;
}

.h6,
h6 {
  font-style: normal;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: -0.03em;
}

.p,
p,
a {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03rem;
}

a {
  text-decoration: none;
  color: #241E7B;
}

a:hover {
  color: #1C75BC;
}

a.underline-link {
  text-decoration: underline;
}

.button,
button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  color: #06091B;
}

.button:hover,
button:hover {
  color: #06091B;
}

.button:focus,
.button:focus-within,
.button:hover,
button:focus,
button:focus-within,
button:hover {
  outline: none;
  border: none;
  cursor: pointer;
}

.button.btn-primary,
button.btn-primary {
  color: #FAFDFF;
  background-color: #241E7B;
}

.button.btn-primary:hover,
button.btn-primary:hover {
  color: #FAFDFF;
  background-color: #1C75BC;
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 6rem auto 0 auto;
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 0.75rem;
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

.nav {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}

.nav__mobile {
  width: 100%;
  height: inherit;
  padding: 16px;
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFDFF;
}

.nav__burger {
  cursor: pointer;
}

.nav__burger .line {
  width: 0.8rem;
  height: 0.15rem;
  display: block;
  border-radius: 2px;
  background-color: #4A4D51;
}

.nav__burger .line:nth-child(2) {
  margin-top: 0.2rem;
}

.nav__burger.active .line:nth-child(1) {
  transform: translateY(0.15rem) rotate(45deg);
}

.nav__burger.active .line:nth-child(2) {
  transform: translateY(-0.2rem) rotate(-45deg);
}

.nav__group {
  width: 100%;
  padding: 6px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFDFF;
  border: 1px solid #FAFDFF;
}

.nav__group img {
  height: 4rem;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.nav__item {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03rem;
  color: #60637A;
}

.nav__item:hover,
.nav__item.active {
  color: #06091B;
}

.dropdown {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03rem;
  color: #60637A;
  background-color: transparent;
  padding-right: 18px;
  position: relative;
}

.dropdown::after {
  content: "";
  width: 12px;
  height: 8px;
  background-image: url(/images/dropdown.svg?7b603541121f668fd7464be3a31a467a);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-30%);
  transition: all 0.2s ease;
}

.dropdown.active {
  color: #06091B;
}

.dropdown.active::after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown.active + .dropdown__content {
  display: flex;
}

.dropdown__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 0.5rem;
  position: absolute;
  right: 60px;
  top: 5rem;
  display: none;
  flex-direction: column;
  background-color: #FAFDFF;
  border: 1px solid #FAFDFF;
  border-radius: 0 0 10px 10px;
}

.dropdown__content .nav__item {
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .nav__mobile {
    display: flex;
  }

  .nav__mobile img {
    width: 24px;
  }

  .nav__group {
    width: 100%;
    padding: 6px 16px;
    position: absolute;
    bottom: 100%;
    transition: all 0.2s ease;
    opacity: 0;
  }

  .nav__group img {
    display: none;
  }

  .nav__group.active {
    bottom: auto;
    opacity: 1;
  }

  .nav__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .nav__menu .dropdown {
    display: none;
  }

  .nav .dropdown__content {
    width: 100%;
    display: flex;
    position: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .nav__item {
    width: 100%;
    padding: 0.5rem;
  }
}

.footer {
  margin-top: 20vh;
  padding: 2.5rem 0;
  background-color: #241E7B;
}

.footer > .container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4.5rem;
}

.footer__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  width: 60px;
}

.footer__menus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.footer__menu {
  color: #FAFDFF;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social > img {
  width: 40px;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.footer__bottom > h6 {
  color: #FAFDFF;
}

@media screen and (max-width: 768.9px) {
  .footer__logo {
    width: 40px;
  }

  .footer__menus {
    gap: 0.75rem;
  }

  .footer__social > img {
    width: 30px;
  }
}

.form-feature .h3 {
  font-weight: 600;
}

.form-group p {
  border: none;
  padding: 0;
  color: #A9B0B9;
}

.form__img {
  position: fixed;
  z-index: -1;
}

.form__img--lg {
  height: 100vh;
  display: unset;
  top: 0;
  right: 0;
}

.form__img--sm {
  width: 100%;
  display: none;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  form.form-feature {
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    margin: 0 auto 0 6%;
  }
}

@media screen and (max-width: 1000px) {
  .form__img--lg {
    display: none;
  }

  .form__img--sm {
    display: unset;
  }
}

.landing--top {
  min-height: calc(100vh - 6rem);
  padding-bottom: 6rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.landing--top__left {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
}

.landing--top__title {
  color: #241E7B;
}

.landing--top__desc {
  color: #60637A;
}

.landing--top__btn {
  margin-top: 1rem;
}

.landing--top__right {
  width: 50%;
  filter: drop-shadow(0px 20px 40px rgba(36, 30, 123, 0.15));
}

.landing--visi-misi {
  min-height: calc(100vh - 6rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.landing--visi-misi__visi {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.landing--visi-misi__visi-title {
  white-space: nowrap;
  color: #241E7B;
}

.landing--visi-misi__visi-title span {
  color: #A0213E;
}

.landing--visi-misi__visi-desc {
  color: #60637A;
}

.landing--visi-misi__misi {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 3rem;
}

.landing--visi-misi__misi-card {
  max-width: 250px;
  padding: 1.5rem 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border: 0.05px solid #FAFDFF;
  box-shadow: 0px 20px 40px rgba(36, 30, 123, 0.15);
  border-radius: 1.5rem;
}

.landing--visi-misi__misi-img {
  width: 70px;
}

.landing--visi-misi__misi-desc {
  text-align: center;
  color: #60637A;
}

.landing--layanan {
  min-height: calc(100vh - 6rem);
  padding: 4rem 0;
  position: relative;
  display: grid;
  align-content: center;
  grid-template-columns: 1.3fr 1fr 1fr;
  grid-template-areas: "title curhat form" "title bank-akademik kritik-saran";
  gap: 2rem 5rem;
}

.landing--layanan__header {
  grid-area: title;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-auto-flow: 0.5rem;
}

.landing--layanan__title {
  text-align: center;
  color: #241E7B;
}

.landing--layanan__title span {
  color: #A0213E;
}

.landing--layanan__desc {
  text-align: center;
  color: #60637A;
}

.landing--layanan__card {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 0.25rem;
  border: 0.05px solid #FAFDFF;
  box-shadow: 0px 20px 40px rgba(36, 30, 123, 0.15);
  background-color: #FAFDFF;
}

.landing--layanan__card--curhat {
  grid-area: curhat;
}

.landing--layanan__card--form {
  grid-area: form;
}

.landing--layanan__card--bank-akademik {
  grid-area: bank-akademik;
}

.landing--layanan__card--kritik-saran {
  grid-area: kritik-saran;
}

.landing--layanan__card-title {
  color: #241E7B;
}

.landing--layanan__card-desc {
  color: #60637A;
}

@media screen and (max-width: 1199.9px) {
  .landing--visi-misi__visi {
    width: 100%;
  }

  .landing--layanan {
    gap: 2rem;
  }
}

@media screen and (max-width: 991.9px) {
  .landing--top {
    padding-bottom: 4rem;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .landing--top__left {
    width: 80%;
  }

  .landing--top__right {
    width: 100%;
    max-width: 400px;
  }

  .landing--visi-misi__visi {
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .landing--visi-misi__misi {
    flex-direction: column;
  }

  .landing--layanan {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title" "curhat form" "bank-akademik kritik-saran";
  }
}

@media screen and (max-width: 767.9px) {
  .landing--top__left {
    width: 100%;
  }

  .landing--top__title {
    font-size: 24px;
    line-height: 31px;
  }

  .landing--top__desc {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
  }

  .landing--visi-misi__visi {
    width: 100%;
  }
}

@media screen and (max-width: 575.9px) {
  .landing--visi-misi__visi-title {
    white-space: normal;
  }

  .landing--layanan {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "curhat" "form" "bank-akademik" "kritik-saran";
  }

  .landing--layanan__title,
  .landing--layanan__desc {
    text-align: left;
  }

  .landing--layanan__card {
    width: 80%;
    justify-self: center;
  }
}

